$ui-primary: var(--ui-primary, rgb(242, 242, 242)); /* #F2F2F2 */
$ui-secondary: var(--ui-secondary, rgb(237, 237, 237)); /* #EDEDED */
$ui-tertiary: var(--ui-tertiary, rgb(229, 229, 229)); /* #E5E5E5 */

$ui-modal-overlay: var(--ui-modal-overlay, hsla(0, 100%, 65%, 0.9)); /* 90% transparent version of motion-primary */

$ui-white: hsla(0, 100%, 100%, 1); /* #FFFFFF */
$ui-white-dim: hsla(0, 100%, 100%, 0.75); /* 25% transparent version of ui-white */
$ui-white-transparent: hsla(0, 100%, 100%, 0.25); /* 25% transparent version of ui-white */
$ui-transparent: hsla(0, 100%, 100%, 0); /* 25% transparent version of ui-white */

$ui-black-transparent-default: hsla(0, 0%, 0%, 0.15); /* 15% transparent version of black */
$ui-black-transparent: var(--ui-black-transparent, $ui-black-transparent-default);

$text-primary: var(--text-primary, hsla(225, 15%, 40%, 1)); /* #575E75 */
$text-primary-transparent: hsla(225, 15%, 40%, 0.75);

$motion-primary: rgb(201, 94, 213); /* #C95ED5 */
$motion-tertiary: rgb(129, 60, 117); /* 813C75 */
$motion-transparent: rgba(190, 100, 158, 0.35); /* 35% transparent version of motion-primary */
$motion-light-transparent: rgba(190, 100, 158, 0.15); /* 15% transparent version of motion-primary */

/* opt-in theme overrides */
$motion-primary-dark: #333;
$ui-primary-light: hsla(215, 100%, 95%, 1);
$ui-secondary-light: hsla(215, 75%, 95%, 1);
$ui-tertiary-light: hsla(215, 50%, 90%, 1);
$text-primary-light: hsla(225, 15%, 40%, 1);

$red-primary: hsla(20, 100%, 55%, 1); /* #FF661A */
$red-tertiary: hsla(20, 100%, 45%, 1); /* #E64D00 */

$sound-primary: hsla(300, 53%, 60%, 1); /* #CF63CF */
$sound-tertiary: hsla(300, 48%, 50%, 1); /* #BD42BD */

$control-primary: hsla(38, 100%, 55%, 1); /* #FFAB19 */

$data-primary: hsla(30, 100%, 55%, 1); /* #FF8C1A */

$pen-primary: hsla(163, 85%, 40%, 1); /* #0FBD8C */
$pen-transparent: hsla(163, 85%, 40%, 0.25); /* #0FBD8C */

$error-primary: hsla(30, 100%, 55%, 1); /* #FF8C1A */
$error-light: hsla(30, 100%, 70%, 1); /* #FFB366 */
$error-transparent: hsla(30, 100%, 55%, 0.25); /* #FF8C1A */

$extensions-primary: hsla(10, 85%, 65%, 1);
$extensions-tertiary: hsla(10, 85%, 40%, 1);
$extensions-transparent: hsla(10, 85%, 65%, 0.35); /* 35% transparent version of extensions-primary */
$extensions-light: hsla(10, 57%, 85%, 1); /* opaque version of extensions-transparent, on white bg */

$drop-highlight: hsla(0, 100%, 77%, 1); /* lighter than motion-primary */
