[class*="stage-wrapper_full-screen"] [class*="stage-wrapper_stage-canvas-wrapper"],
[class*="stage-wrapper_full-screen"] [class*="stage_stage"],
[class*="stage-wrapper_full-screen"] [class*="stage-header_stage-menu-wrapper"],
[class*="stage-wrapper_full-screen"] canvas {
  width: min(calc(100vh * var(--sa-fullscreen-width) / var(--sa-fullscreen-height)), 100vw) !important;
}

[class*="stage-wrapper_full-screen"] [class*="stage-wrapper_stage-canvas-wrapper"],
[class*="stage-wrapper_full-screen"] [class*="stage_stage"],
[class*="stage-wrapper_full-screen"] [class*="stage_green-flag-overlay-wrapper"],
[class*="stage-wrapper_full-screen"] canvas {
  height: min(100vh, calc(100vw * var(--sa-fullscreen-height) / var(--sa-fullscreen-width))) !important;
}

[class*="stage-wrapper_full-screen"] {
  padding: 0rem !important;
}

[class*="stage-wrapper_full-screen"] [class*="monitor-list_monitor-list"] {
  overflow: visible;
}

[class*="stage-wrapper_full-screen"] [class*="stage_question-wrapper"] {
  width: auto !important;
}
